.CardCont {
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  background-color: #f9f9f9;
}

.cardName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
  color: #333;
}

.cardDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

.Text {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
  text-align: center;
}

.Price {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

